.header__link {
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-logo {
  height: 46px;
  margin: auto;
}
.header-title {
  margin: 0;
  color: #D04F4F;
  font-size: 36px;
  font-weight: 700;
}

.search-bar {
  width: 100%;
  height: 69px;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.search-bar__input {
  width: 95%;
  height: 100%;
  background-color: transparent;
  border: 0px;
  padding: 0 0 0 24px;
  font-family: "Lato", sans-serif;
  font-weight: 12px;
}
.search-bar__btn {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.search-bar__icon {
  margin-top: 15px;
}

.tag-block {
  display: flex;
  height: 80px;
  align-items: center;
}
.tag-block-blue {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #3282F7;
}
.tag-block-blue__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-blue__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-blue:hover, .tag-block-blue:focus {
  background-color: #085bd4;
  transition-duration: 0.5s;
}
.tag-block-green {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #68D9A4;
}
.tag-block-green__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-green__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-green:hover, .tag-block-green:focus {
  background-color: #31c37f;
  transition-duration: 0.5s;
}
.tag-block-orange {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #ED6454;
}
.tag-block-orange__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-orange__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-orange:hover, .tag-block-orange:focus {
  background-color: #dd2c17;
  transition-duration: 0.5s;
}

.dropdown-section {
  display: flex;
  height: 69px;
  align-items: center;
}
.dropdown-section .dp-ingredients {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #3282F7;
}
.dropdown-section .dp-ingredients__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.dropdown-section .dp-ingredients__icon {
  cursor: pointer;
  margin-left: 15px;
}
.dropdown-section .dp-ingredients:hover, .dropdown-section .dp-ingredients:focus {
  background-color: #085bd4;
  transition-duration: 0.5s;
}
.dropdown-section .dp-appareils {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #68D9A4;
}
.dropdown-section .dp-appareils__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.dropdown-section .dp-appareils__icon {
  cursor: pointer;
  margin-left: 15px;
}
.dropdown-section .dp-appareils:hover, .dropdown-section .dp-appareils:focus {
  background-color: #31c37f;
  transition-duration: 0.5s;
}
.dropdown-section .dp-ustensiles {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #ED6454;
}
.dropdown-section .dp-ustensiles__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.dropdown-section .dp-ustensiles__icon {
  cursor: pointer;
  margin-left: 15px;
}
.dropdown-section .dp-ustensiles:hover, .dropdown-section .dp-ustensiles:focus {
  background-color: #dd2c17;
  transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

* a {
  text-decoration: none;
}

body {
  max-width: 1240px;
  margin: auto;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
