.active {
  width: 100% !important;
  transition: 350ms ease-out;
}

.rotate {
  transform: rotate(180deg);
  transition: 350ms ease-out;
}

.banner__link {
  width: 270px;
  margin: auto;
  padding: 40px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner-logo {
  height: 46px;
  margin: auto;
}
.banner-title {
  margin: 0;
  color: #D04F4F;
  font-size: 36px;
  font-weight: 700;
}

.search-bar {
  width: 100%;
  height: 69px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.search-bar__input {
  width: 95%;
  height: 100%;
  background-color: transparent;
  border: 0px;
  padding: 0 0 0 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.search-bar__input::placeholder {
  color: #000000;
  opacity: 0.25;
}
.search-bar__input:focus-visible, .search-bar__input:focus {
  outline: none !important;
}
.search-bar__btn {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.search-bar__icon {
  margin-top: 15px;
}

.card-galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 25px 0;
}

.recipe-card {
  height: 380px;
}
.recipe-card__link {
  display: block;
  height: 100%;
  color: #000000;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.recipe-card-picture {
  height: 50%;
  border-radius: 5px 5px 0 0;
  background-color: #C7BEBE;
}
.recipe-card-picture__img {
  overflow: hidden;
  height: 100%;
}
.recipe-card-panel {
  overflow: hidden;
  height: 50%;
  padding: 20px;
}
.recipe-card-line {
  display: flex;
  justify-content: space-between;
}
.recipe-card-line__title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.recipe-card-time {
  display: flex;
  align-items: flex-start;
  min-width: 85px;
}
.recipe-card-time__img {
  margin-right: 10px;
}
.recipe-card-time__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.recipe-card-description {
  display: flex;
  padding-top: 20px;
}
.recipe-card-description-list {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 102px;
  overflow: hidden;
}
.recipe-card-description-list__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.recipe-card-description-list__text-bold {
  font-weight: 700;
}
.recipe-card-description-block {
  width: 50%;
  margin: 0;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  max-height: 97px;
  overflow: hidden;
}

.tag-block-ingredients, .tag-block-appareils, .tag-block-ustensiles {
  display: flex;
  align-items: center;
}
.tag-block-ingredients .tag-block-blue, .tag-block-appareils .tag-block-blue, .tag-block-ustensiles .tag-block-blue {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #3282F7;
  margin-bottom: 20px;
}
.tag-block-ingredients .tag-block-blue__text, .tag-block-appareils .tag-block-blue__text, .tag-block-ustensiles .tag-block-blue__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-ingredients .tag-block-blue__icon, .tag-block-appareils .tag-block-blue__icon, .tag-block-ustensiles .tag-block-blue__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-ingredients .tag-block-blue:hover, .tag-block-ingredients .tag-block-blue:focus, .tag-block-appareils .tag-block-blue:hover, .tag-block-appareils .tag-block-blue:focus, .tag-block-ustensiles .tag-block-blue:hover, .tag-block-ustensiles .tag-block-blue:focus {
  background-color: #085bd4;
  transition-duration: 0.5s;
}
.tag-block-ingredients .tag-block-green, .tag-block-appareils .tag-block-green, .tag-block-ustensiles .tag-block-green {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #68D9A4;
  margin-bottom: 20px;
}
.tag-block-ingredients .tag-block-green__text, .tag-block-appareils .tag-block-green__text, .tag-block-ustensiles .tag-block-green__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-ingredients .tag-block-green__icon, .tag-block-appareils .tag-block-green__icon, .tag-block-ustensiles .tag-block-green__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-ingredients .tag-block-green:hover, .tag-block-ingredients .tag-block-green:focus, .tag-block-appareils .tag-block-green:hover, .tag-block-appareils .tag-block-green:focus, .tag-block-ustensiles .tag-block-green:hover, .tag-block-ustensiles .tag-block-green:focus {
  background-color: #31c37f;
  transition-duration: 0.5s;
}
.tag-block-ingredients .tag-block-orange, .tag-block-appareils .tag-block-orange, .tag-block-ustensiles .tag-block-orange {
  padding: 0 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  border-radius: 5px;
  background-color: #ED6454;
  margin-bottom: 20px;
}
.tag-block-ingredients .tag-block-orange__text, .tag-block-appareils .tag-block-orange__text, .tag-block-ustensiles .tag-block-orange__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.tag-block-ingredients .tag-block-orange__icon, .tag-block-appareils .tag-block-orange__icon, .tag-block-ustensiles .tag-block-orange__icon {
  cursor: pointer;
  margin-left: 15px;
}
.tag-block-ingredients .tag-block-orange:hover, .tag-block-ingredients .tag-block-orange:focus, .tag-block-appareils .tag-block-orange:hover, .tag-block-appareils .tag-block-orange:focus, .tag-block-ustensiles .tag-block-orange:hover, .tag-block-ustensiles .tag-block-orange:focus {
  background-color: #dd2c17;
  transition-duration: 0.5s;
}

.dropdown-section {
  display: flex;
  align-items: flex-start;
}
.dropdown-section .dp-ingredients {
  margin-right: 20px;
  min-height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
}
.dropdown-section .dp-ingredients-block {
  transition: width 350ms ease-out;
  display: flex;
  align-items: center;
  height: 69px;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-section .dp-ingredients__input {
  background-color: transparent;
  border: 0px;
  padding: 0 0 0 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.dropdown-section .dp-ingredients__input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}
.dropdown-section .dp-ingredients__input:focus-visible, .dropdown-section .dp-ingredients__input:focus {
  outline: none !important;
}
.dropdown-section .dp-ingredients__btn {
  width: 69px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.dropdown-section .dp-ingredients:hover, .dropdown-section .dp-ingredients:focus {
  background-color: #085bd4;
  transition-duration: 0.5s;
}
.dropdown-section .dp-appareils {
  margin-right: 20px;
  min-height: 69px;
  border-radius: 5px;
  background-color: #68D9A4;
}
.dropdown-section .dp-appareils-block {
  transition: width 350ms ease-out;
  display: flex;
  align-items: center;
  height: 69px;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-section .dp-appareils__input {
  background-color: transparent;
  border: 0px;
  padding: 0 0 0 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.dropdown-section .dp-appareils__input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}
.dropdown-section .dp-appareils__input:focus-visible, .dropdown-section .dp-appareils__input:focus {
  outline: none !important;
}
.dropdown-section .dp-appareils__btn {
  width: 69px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.dropdown-section .dp-appareils:hover, .dropdown-section .dp-appareils:focus {
  background-color: #31c37f;
  transition-duration: 0.5s;
}
.dropdown-section .dp-ustensiles {
  margin-right: 20px;
  min-height: 69px;
  border-radius: 5px;
  background-color: #ED6454;
}
.dropdown-section .dp-ustensiles-block {
  transition: width 350ms ease-out;
  display: flex;
  align-items: center;
  height: 69px;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-section .dp-ustensiles__input {
  background-color: transparent;
  border: 0px;
  padding: 0 0 0 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.dropdown-section .dp-ustensiles__input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}
.dropdown-section .dp-ustensiles__input:focus-visible, .dropdown-section .dp-ustensiles__input:focus {
  outline: none !important;
}
.dropdown-section .dp-ustensiles__btn {
  width: 69px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.dropdown-section .dp-ustensiles:hover, .dropdown-section .dp-ustensiles:focus {
  background-color: #dd2c17;
  transition-duration: 0.5s;
}
.dropdown-section .dp-list-ingredients, .dropdown-section .dp-list-appareils, .dropdown-section .dp-list-ustensiles {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 667px;
  max-height: 170px;
  overflow-y: auto;
}
.dropdown-section .dp-list__text {
  cursor: pointer;
  margin: 8px 0;
  width: 33.3%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
}
.dropdown-section .dp-list__text:hover {
  font-weight: 700;
  transition-duration: 0.5s;
}

.hide {
  max-width: 0px !important;
  max-height: 0px !important;
  display: none !important;
}

.card-galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 25px 0;
}

.recipe-card {
  height: 380px;
}
.recipe-card__link {
  display: block;
  height: 100%;
  color: #000000;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.recipe-card-picture {
  height: 50%;
  border-radius: 5px 5px 0 0;
  background-color: #C7BEBE;
}
.recipe-card-picture__img {
  overflow: hidden;
  height: 100%;
}
.recipe-card-panel {
  overflow: hidden;
  height: 50%;
  padding: 20px;
}
.recipe-card-line {
  display: flex;
  justify-content: space-between;
}
.recipe-card-line__title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.recipe-card-time {
  display: flex;
  align-items: flex-start;
  min-width: 85px;
}
.recipe-card-time__img {
  margin-right: 10px;
}
.recipe-card-time__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.recipe-card-description {
  display: flex;
  padding-top: 20px;
}
.recipe-card-description-list {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 102px;
  overflow: hidden;
}
.recipe-card-description-list__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.recipe-card-description-list__text-bold {
  font-weight: 700;
}
.recipe-card-description-block {
  width: 50%;
  margin: 0;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  max-height: 97px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

* a {
  text-decoration: none;
}

body {
  max-width: 1240px;
  margin: auto;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
