@import "./utils/variables";
@import "./components/card";
@import "./components/dropdown";
@import "./components/tag";
@import "./layout/header";
@import "./layout/search-bar";
@import "./layout/main";
@import "./layout/select-boxes";
@import "./layout/main";


//* MAIN ELEMENTS
* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
* a {
    text-decoration: none;
}
body{
    max-width: 1240px;
    margin: auto;
    color: $black;
}
