.banner {
    &__link{
        width: 270px;
        margin: auto;
        padding: 40px 0 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &-logo{ 
        height: 46px;
        margin: auto;
    }
    &-title{
        margin: 0;
        color: $red;
        font-size: $logo;
        font-weight: $bold;
        letter-spacing: -1px;
    }
}

