.tag-block{
    display: flex;
    height: 80px;
    align-items: center;
    &-blue{
        @include tag($blue);
        background-color: $blue;
    }
    &-green{
        @include tag($green);
        background-color: $green;
    }
    &-orange{
        @include tag($orange);
        background-color: $orange;
    }
}

.dropdown-section{
    display: flex;
    height: 69px;
    align-items: center;
    .dp{
        &-ingredients{
            @include dropdown($blue);
            background-color: $blue;
        }
        &-appareils{
            @include dropdown($green);
            background-color: $green;
        }
        &-ustensiles{
            @include dropdown($orange);
            background-color: $orange;
        }
    }
}