.tag-block-ingredients, .tag-block-appareils, .tag-block-ustensiles {
    display: flex;
    align-items: center;
    .tag-block-blue{
        @include tag($blue);
        background-color: $blue;
        margin-bottom: 20px;
    }
    .tag-block-green{
        @include tag($green);
        background-color: $green;
        margin-bottom: 20px;
    }
    .tag-block-orange{
        @include tag($orange);
        background-color: $orange;
        margin-bottom: 20px;
    }
}

.dropdown-section{
    display: flex;
    align-items: flex-start;
    .dp{
        &-ingredients{
            @include dropdown($blue);
            background-color: $blue;    
        }
        &-appareils{
            @include dropdown($green);
            background-color: $green;
        }
        &-ustensiles{
            @include dropdown($orange);
            background-color: $orange;
        }
        &-list-ingredients, &-list-appareils, &-list-ustensiles{
            // transition: height 450ms ease-out;
            padding: 0 24px 24px 24px;
            display: flex;
            flex-wrap: wrap;
            max-width: 667px;
            max-height: 170px;
            overflow-y: auto;
        }
        &-list__text{ 
            cursor: pointer;
            margin: 8px 8px 8px 0;
            width: 30%;
            font-family: $lato;
            font-size: $large;
            color: $white;
            font-weight: $light;
            &:hover{
                font-weight: $bold;
                transition-duration: 0.5s;
            }
        }
    }
}

.hide{
    max-width: 0px !important;
    max-height: 0px !important;
    display: none !important;
}