.tag-block{
    display: flex;
    margin-top: 20px;
    align-items: center;
    &-blue{
        @include tag($blue);
        background-color: $blue;
    }
    &-green{
        @include tag($green);
        background-color: $green;
    }
    &-orange{
        @include tag($orange);
        background-color: $orange;
    }
}

.dropdown-section{
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    .dp{
        &-ingredients{
            @include dropdown($blue);
            background-color: $blue;
        }
        &-appareils{
            @include dropdown($green);
            background-color: $green;
        }
        &-ustensiles{
            @include dropdown($orange);
            background-color: $orange;
        }
        &-list{
            padding: 0 24px 24px 24px;
            display: flex;
            flex-wrap: wrap;
            max-width: 667px;
            &__text{ 
                cursor: pointer;
                margin: 8px 0;
                width: 33.3%;
                font-family: $lato;
                font-size: $large;
                color: $white;
                font-weight: $light;
                &:hover{
                    font-weight: $bold;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}