@mixin btn {
    font-size: 20px;
    font-weight: $w-bold;
    color: $white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;
    &:hover, &:focus{
        color: $black;
        background-color: $orange;
        transition-duration: 0.5s;
    }
}