@mixin dropdown($color) {
    margin-right: 20px;
    min-height: 69px;
    border-radius: 5px;
    &-block{
        position: relative;
        transition: width 350ms ease-out;
        display: flex;
        align-items: center;
        height: 69px;
        // width: 170px;
        justify-content: space-between;
        cursor: pointer;
    }
    &__input{
        background-color: transparent;
        border: 0px;
        padding: 0 0 0 24px;
        font-family: $lato;
        font-weight: $bold;
        font-size: $large;
        color: $white;
        cursor: pointer;
        &::placeholder{
            color: $white;
            opacity: 0.5;
        }
        &:focus-visible, &:focus{
            outline: none !important;
        }
    }
    &__btn{
        width: 69px;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    &:hover, &:focus{
        background-color: darken($color, 15%);
        transition-duration: 0.5s;
    }
}

.rotate{
    transform: rotate(180deg);
    transition: 350ms ease-out;
}

.dp-trigger {
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
}

.dp-block:not(.dp-visible) + .dp-list {
    display: none !important;
}

.dp-visible .dp-trigger {
    left: auto;
    width: 70px;
}

