//* Colors
$white: #FFFFFF;
$black: #000000;
$lightGrey: #E7E7E7;
$grey: #C7BEBE;
$red: #D04F4F;
$blue: #3282F7;
$green: #68D9A4;
$orange: #ED6454;

//* Typos
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
$DM: "DM Sans", sans-serif;

//* Font weights
$light: 400;
$bold: 700;

//* Font sizes
$logo: 36px;
$large: 18px;
$medium: 14px;
$light: 12px;

