//* Colors
$white: #FFFFFF;
$lightGrey: #FAFAFA;
$black: #000000;
$grey : #525252;
$red: #901C1C;
$orange: #D3573C;
$lightOrange:#DB8876;

//* Box shadow
$shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

//* Font weight
$w-light: 400;
$w-medium: 500;
$w-bold: 700;

